/* reset css */
body {
  font-size: 10px;
  font-family: 'East Sea Dokdo', cursive;
  background-image: url("./img/dark_wood_bg1.jpg");
  background-size: cover;
}
body, h1, h2, h3, h4, h5, h6, p, button, ul, li {
  padding: 0;
  margin: 0;
}
ul, li {
  list-style: none;
}
button {
  border: initial;
  background-color: initial;
  font: inherit;
}
/* [!]버튼 활성화일 경우만 커서를 포인터로 변경합니다 */
button:enabled {
  cursor: pointer;
}
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
/* /reset css */

/* layout */
#container-wrapper {
  margin: 70px auto;
  width: 780px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
#item-wrap {
  padding: 40px;
  /* box-shadow: inset 0 0 10px red; */
  background: url(./img/section3-1.png) no-repeat 0 0 / 100% 100%;
}
/* /layout */
h1 {
  /* background-image: url(./img/main-header.png);
  background-position: 50% 70%;
  background-repeat: no-repeat;
  background-size: 400px 200px; */
  background: url(./img/main-header.png) no-repeat 50% 70% / 400px 200px;
  /* color: #fff; */
  font-size: 8.5em;
  text-align: center;
  padding-top: 20px;
}

/* shopping-container */
#shopping-container {
  padding: 20px;
  box-sizing: border-box;
  /* background-color: #D4B9A0; */
  border-radius: 10px;
  /* box-shadow: inset 0 0 10px yellowgreen; */
}
#shopping-container h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 4em;
}
.item-shopping {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}
.item-btn {
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  box-shadow: 3px 3px 10px ;
  padding: 10px;
  position: relative;
}
.item-btn strong {
  font-size: 20px;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  left: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.item-btn img {
  width: 42px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.item-btn p,
.item-btn span {
  font-size: 2em;
}
.item-name {
  display: block;
}
.sold-out {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.sold-out strong {
  display: inline-block;
  color: #eae8fe;
  border: 6px double #eae8fe;
  padding: 0 8px;
  transform: rotate(-20deg) translate(-10px, 30px);
}
/* /shopping-container */

/* purchase-wrap layout */
#purchase-wrap {
  display: grid;
  grid-template-rows: .5fr 3fr 3fr;
  gap: 10px;
  padding: 40px;
  /* box-shadow: inset 0 0 10px orange; */
  background: url(./img/section3-1.png) no-repeat 0 0 / 100% 100%;
}
.my-money {
  /* box-shadow: inset 0 0 10px darkblue; */
  background: url(./img/old_paper_bg2.png) no-repeat 0 0 /cover;
  border-radius: 10px;
  /* width: 100%; */
}
#shopping-list,
#pocket-list {
  padding: 10px;
  box-sizing: border-box;
  background: url(./img/old_paper_bg2.png);
  /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6); */
  border-radius: 10px;
}
#shopping-list {
  display: flex;
  flex-direction: column;
  /* box-shadow: inset 0 0 10px skyblue; */
  /* width: 100%; */
}
h2 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 10px;
}
.money {
  margin-bottom: 0;
}
/* /purchase-wrap layout */

/* my-money */
.my-money {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.my-money p {
  font-size: 2em;
}
/* /my-money */

/* shopping-list */
#shopping-list ul {
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  height: 129px;
}
.shopped-list {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  /* box-shadow: inset 0 0 10px darkgreen; */
  border-bottom: 2px solid black;
  border-radius: 1px;
  width: 100%;
  position: relative;
}
.shopped-list:not(:last-child) {
  margin-bottom: 10px;
}
.shopped-list img {
  width: 32px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.shopped-list p {
  font-size: 2em;
  margin-left: 20px;
}
.shopped-list input {
  border: 1px solid;
  font-family: inherit;
  font-size: 2em;
  background-color: transparent;
  width: 30px;
}
.shopped-list-count,
.shopped-list-price {
  font-size: 1.6em;
  position: absolute;
}
.shopped-list-count {
  left: 46%;
}
.shopped-list-price {
  left: 70%;
}
.list-count-ctrl {
  position: absolute;
  left: 56%;
}
/* 텍스트 위치 고정시킬 방법 생각하기 */

.cancel-btn {
  font-size: 2em;
  position: absolute;
  right: 6px;
}
.ordered-btn {
  /* box-shadow: inset 0 0 10px black; */
  font-size: 2.5em;
  margin-top: auto;
  text-decoration: underline;
}
/* /shopping-list */

/* pocket-list */
#pocket-list {
  position: relative;
}
#pocket-list .all-sel {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 2em;
  padding: 5px;
  /* box-shadow: inset 0 0 10px black; */
}

#pocket-list ul {
  box-sizing: border-box;
  /* box-shadow: inset 0 0 10px orange; */
  height: 170px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: .5fr; /* 이거 문제였음 기록할 것! */
  gap: 12px;
  overflow-y: auto;
}
.pocket-item-list {
  width: 74%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 10px ;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
}
.pocket-item-list strong {
  font-size: 20px;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  left: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.pocket-item-img {
  width: 32px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.pocket-item-list p,
.pocket-item-list button {
  font-size: 1.5em;
}
/* /pocket-list */

/* bill-container */
#bill-wrap {
  display: none;
  /* box-shadow: inset 0 0 10px red; */
  background: url(./img/section3-1.png) no-repeat 0 0 / 100% 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 390px;
  padding: 40px;
}
.bill-container {
  background: url(./img/old_paper_bg2.png);
  border-radius: 10px;
}
.pocket-money,
.total-price,
.pay-price,
.balance {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2em;
}
.pocket-money h3,
.total-price h3,
.pay-price h3,
.balance h3 {
  font-size: 3em;
}
.pocket-money p,
.total-price p,
.pay-price p,
.balance p {
  font-size: 2.5em;
}
.purchase-btn {
  /* box-shadow: inset 0 0 10px black; */
  font-size: 5em;
  margin: 10px auto;
  text-decoration: underline;
  text-align: center;
  display: block;
}
/* /bill-container */

/* sell-wrap */
#sell-wrap {
  display: none;
  box-shadow: inset 0 0 10px red;
  background: url(./img/section3-1.png) no-repeat 0 0 / 100% 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 390px;
  padding: 40px;
}

/* sell-wrap */