/* reset css */
body {
  font-size: 10px;
  font-family: 'East Sea Dokdo', cursive;
  /* background-image: url("./img/dark_wood_bg1.jpg"); */
  background-size: cover;
}
body, h1, h2, h3, h4, h5, h6, p, button, ul, li {
  padding: 0;
  margin: 0;
}
ul, li {
  list-style: none;
}
button {
  border: initial;
  background-color: initial;
  font: inherit;
  cursor: pointer;
}
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
/* /reset css */

/* layout */
#container-wrapper {
  margin: 100px auto;
  width: 750px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
#item-wrap {
  padding: 20px;
  box-shadow: inset 0 0 10px red;
}
/* /layout */
h1 {
  background-image: url(./img/main_header.png);
  background-position: 50%, 90px;
  background-repeat: no-repeat;
  background-size: 400px 200px;
  /* color: #fff; */
  font-size: 9em;
  text-align: center;
}

/* shopping-container */
#shopping-container {
  padding: 20px;
  box-shadow: inset 0 0 10px yellowgreen;
}
#shopping-container h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 4em;
}
#shopping-container ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}
.item-btn {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 10px ;
  padding: 10px;
}
.item-btn img {
  width: 42px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.item-btn p, span {
  font-size: 2em;
}
/* /shopping-container */

/* purchase-wrap layout */
#purchase-wrap {
  display: grid;
  grid-template-rows: .5fr 3fr 3fr;
  gap: 10px;
  padding: 20px;
  box-shadow: inset 0 0 10px orange;
}
#my-money {
  box-shadow: inset 0 0 10px darkblue;
  width: 100%;
}
#shopping-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: inset 0 0 10px skyblue;
  width: 100%;
}
#pocket-list {
  padding: 10px;
  box-sizing: border-box;
  box-shadow: inset 0 0 10px royalblue;
  width: 100%;
}
h3 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 10px;
}
/* /purchase-wrap layout */

/* my-money */
#my-money {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#my-money p {
  font-size: 2em;
}
/* /my-money */

/* shopping-list */
#shopping-list ul {
  padding: 10px;
  box-sizing: border-box;
  box-shadow: inset 0 0 10px greenyellow;
  overflow-y: scroll;
  height: 129px;
}
.shopped-list {
  display: flex;
  align-items: center;
  gap: 16px;
  box-shadow: inset 0 0 10px darkgreen;
  width: 100%;
  position: relative;
}
.shopped-list:not(:last-child) {
  margin-bottom: 10px;
}
.shopped-list img {
  width: 32px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  /* margin-left: 10px; */
}
.shopped-list p {
  font-size: 2em;
}
.shopped-list input {
  border: 1px solid;
  font-family: inherit;
  font-size: 2em;
  background-color: transparent;
  width: 30px;
}
.shopped-list span {
  width: 30px;
}
.shopped-list button {
  font-size: 2em;
  position: absolute;
  right: 6px;
}
.purchase-btn {
  box-shadow: inset 0 0 10px black;
  font-size: 2.5em;
  margin-top: auto;
}
/* /shopping-list */

/* pocket-list */
#pocket-list ul {
  box-sizing: border-box;
  box-shadow: inset 0 0 10px orange;
  height: 170px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  overflow-y: scroll;
}
.pocket-item-list {
  width: 64%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 10px ;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.pocket-item-img {
  width: 32px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
/* /pocket-list */


/* #shopping-container ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}
.item-btn {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 10px ;
  padding: 10px;
}
.item-btn img {
  width: 42px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.item-btn p, span {
  font-size: 2em;
} */